/* 
custom css
*/

.bloc-list{
    padding: 15px;
}

.listlevee{
    background-image:url(images/levee.png);
    background-repeat: no-repeat;
    width:20px;
    display: inline-block;
}

.listopen{
    background-image:url(images/open.png);
    background-repeat: no-repeat;
    width:20px;
    display: inline-block;
    float:right;
}


